<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="{%url 'home' %}" >
                <i class="icon-grid menu-icon"></i>
              <span class="menu-title">Dashboard</span>
            </a>
          </li>
      <li class="nav-item">
        <a class="nav-link" href="{%url 'element' %}" >
          <i class="icon-layout menu-icon"></i>
          <span class="menu-title">Element</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{%url 'ressource' %}">
          <i class="icon-columns menu-icon"></i>
          <span class="menu-title">Ressource</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{%url 'critere'%}" >
          <i class="icon-bar-graph menu-icon"></i>
          <span class="menu-title">Critere</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{%url 'couplage'%}" >
          <i class="icon-grid-2 menu-icon"></i>
          <span class="menu-title">Couplage</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{%url 'contrainte'%}" >
          <i class="icon-grid-2 menu-icon"></i>
          <span class="menu-title">Contrainte</span>
        </a>
        <li class="nav-item">
          <a class="nav-link" href="{%url 'objectif'%}" >
            <i class="icon-grid-2 menu-icon"></i>
            <span class="menu-title">Objectif</span>
          </a>
      <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="#auth" aria-expanded="false" aria-controls="auth">
          <i class="icon-head menu-icon"></i>
          <span class="menu-title">Connexion</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="auth">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item"> <a class="nav-link" href="{%url 'login'%}"> Login </a></li>
            <li class="nav-item"> <a class="nav-link" href="{%url 'register'%}"> Register </a></li>
            
            <li class="nav-item">
              <form method="post" action="{% url 'logout' %}" style="display:inline;">
                {% csrf_token %}
                <button type="submit" class="nav-link btn btn-link" style="padding: 0; margin: 0; border: none; background: none;">
                  Logout
                </button>
              </form>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </nav>